@use '../../../styles.scss' as *;

header {
  background-color: $secondary-color;
  box-shadow: 0 0 $shadow;
  position: fixed;
  width: 100%;
  padding: 1rem 0;
  z-index: 9999;

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
  }
}