@use '../../../../styles.scss' as *;

a {
  display: flex;
  
  .icon path, .logo path {
    fill-rule: evenodd;
  }
  
  .icon {
    width: 4rem;
  
    path {
      fill: $tertiary-color;
    }
  }
  
  .logo {
    width: 12rem;
    margin-top: 1rem;
  
    path {
      fill: $primary-color;
    }

    @include mediaQuery {
      display: none;
    }
  }
}